@using VehicleInsuranceManagement.Models
@model dynamic

<form id="paymentInfo">
    <div class="form-group row">
        <label class="col-md-3 col-sm-4" for="paymentType" style="display: flex; align-items: center; padding-right: 6px;">Payment type</label>
        <div class="col-md-9 col-sm-8">
            <select class="form-select col-9 border-0" id="paymentType" style="height: 55px;">
                <option selected disabled>--Select--</option>
                <option id="fully" value="0">Fully</option>
                <option id="monthly" value="0.1" min-money="75">Monthly (+10% - Minimum amount: $75/month)</option>
                <option id="quarterly" value="0.05" min-money="225">Quarterly (+5% - Minimum amount: $225/quarter)</option>
                <option id="annual" value="0.025" min-money="900">Annual (+2.5% - Minimum amount: $900/year)</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-sm-4" for="duration" style="display: flex; align-items: center; padding-right: 6px;">Number of payment</label>
        <div class="col-md-9 col-sm-8">
            <div class="input-group inline-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-minus">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <input class="form-control quantity" min="2" name="quantity" value="2" type="number" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-plus">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row amountPerPayment">
        <label class="col-md-3 col-sm-4" for="amountPerPayment" style="display: flex; align-items: center; padding-right: 6px;">Amount per payment</label>
        <div class="col-md-9 col-sm-8 amountPerPaymentContent">

        </div>
    </div>
    <div id="contentOrder" class="row">
        <hr>
        <div class="row selectedVehicle">
            <div class="col-md-3 col-sm-4 title">
                <span>Selected vehicle</span>
            </div>
            <div class="col-md-9 col-sm-8 content">
                @{
                    VehicleModelView v = Model.Vehicle;
                }
                <span>@v.model.VehicleBrand.VehicleBrandName - @v.model.VehicleModelName - @v.vehicle.VehicleOwnerName</span>
            </div>
        </div>
        <div class="row selectedInsurance">
            <div class="col-md-3 col-sm-4 title">
                <span>Selected insurance</span>
            </div>
            <div class="col-md-9 col-sm-8 content">
                @{
                    InsuranceType i = Model.InsuranceType;
                }
                <span>@i.InsuranceTypeName</span>
            </div>
        </div>
        <div class="row insurancePrice">
            <div class="col-md-3 col-sm-4 title">
                <span>Insurance price</span>
            </div>
            <div class="col-md-9 col-sm-8 content">
                <span></span>
            </div>
        </div>
        <div class="row totalPrice">
            <div class="col-md-3 col-sm-4 title">
                <span>Total price</span>
            </div>
            <div class="col-md-9 col-sm-8 content">
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary py-3 w-100 btnBack" style="margin-top: 1rem;" type="button">Back</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary py-3 w-100 btnContinue" style="margin-top: 1rem; float: right" type="button">Continue</button>
        </div>
    </div>
</form>
